header {
    display: flex;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: white;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid black;
    top: 0px;
}
.logo{
display: flex;
flex-grow: 1;
align-items: center;
padding-left: 30px;
}
.logo span {
    margin-left: 5px;
    color: MediumAquamarine;
}
nav span {
  display: inline-block;
  margin:auto 10px;
  padding: 20px 10px;
}
a {
  color: black;
}
header nav{
  padding-right: 40px;
}
.main-content {
  margin: 0 auto 78px auto;
  padding-top: 123px;
  display: flex;
}
.main-content {
  display: flex;
  width: 1232px;
}
.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
.image-content{
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  text-align:center;
  color: white;
}
.featured.image-content{
font-size: 40px;
text-align: left;
background-image: url("/my-times/resources/images/img-story-main.png");
}
.lead-story .image-content {
    width: 630px;
}
.first.image-content{
background-image: url("/my-times/resources/images/img-story-2.png")
}
.second.image-content{
background-image: url("/my-times/resources/images/img-story-3.png")
}
.third.image-content{
background-image: url("/my-times/resources/images/img-story-1.png")
}
.stories{
  display: flex;
  justify-content: space-between;
}
.story{
  display: flex;
  flex-direction: column;
  width: 300px;
}
.column.large {
  width: 630px;
}
.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
.news-bites h3{
  font-size: 16px;
  font-weight: bold;
  text-align: center;

}
.news-bites span{
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 11px 20px;
  display: block;
}
footer{
  display: flex;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  height: 325px;
}
.title{
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-left: 1px solid white;
  padding-right: 25px;
}
