.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  border-bottom: 1px black;
  height: 80px;
}
.logo{
display: flex;
color: MediumAquamarine;
flex-grow: 1;
align-items: center;
padding-left: 30px;
}
nav span {
  display: inline-block;
  margin:auto 10px;
}
a {
  color: black;
}
header nav{
  padding-right: 40px;
}
